{% extends 'portfolio/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'portfolio/css/about.css'%}">
{% endblock %}

{% block body %}

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
	<div class="img-container">
		<img src="{% static 'portfolio/resource/myLogo.png' %}">
		<p>I'm a Programmer, a designer, a digital artist and potentially a future physicist.<br>
			I love to learn new technologies and to see how things work. I also believe that,<br>
			any challenges can be accomplished by a piece of paper and a cup of coffee :L
		 </p>
	</div>

<h1>Computer Science Skills Bar</h1>

<div class="skillbar clearfix " data-percent="60%">
	<div class="skillbar-title" style="background: #d35400;"><span>C++</span></div>
	<div class="skillbar-bar" style="background: #e67e22;"></div>
	<div class="skill-bar-percent">60%</div>
</div>

<div class="skillbar clearfix " data-percent="40%">
	<div class="skillbar-title" style="background: #2980b9;"><span>C</span></div>
	<div class="skillbar-bar" style="background: #3498db;"></div>
	<div class="skill-bar-percent">40%</div>
</div>

<div class="skillbar clearfix " data-percent="70%">
	<div class="skillbar-title" style="background: #2c3e50;"><span>Java</span></div>
	<div class="skillbar-bar" style="background: #2c3e50;"></div>
	<div class="skill-bar-percent">70%</div>
</div>

<div class="skillbar clearfix " data-percent="50%">
	<div class="skillbar-title" style="background: #46465e;"><span>Python</span></div>
	<div class="skillbar-bar" style="background: #5a68a5;"></div>
	<div class="skill-bar-percent">50%</div>
</div>

<div class="skillbar clearfix " data-percent="55%">
	<div class="skillbar-title" style="background: #333333;"><span>HTML5</span></div>
	<div class="skillbar-bar" style="background: #525252;"></div>
	<div class="skill-bar-percent">55%</div>
</div>

<div class="skillbar clearfix " data-percent="30%">
	<div class="skillbar-title" style="background: #27ae60;"><span>CSS3</span></div>
	<div class="skillbar-bar" style="background: #2ecc71;"></div>
	<div class="skill-bar-percent">30%</div>
</div>

<div class="skillbar clearfix " data-percent="40%">
	<div class="skillbar-title" style="background: #124e8c;"><span>JavaScript</span></div>
	<div class="skillbar-bar" style="background: #4288d0;"></div>
	<div class="skill-bar-percent">40%</div>
</div>
<div class="skillbar clearfix " data-percent="60%">
	<div class="skillbar-title" style="background: #d35400;"><span>Latex</span></div>
	<div class="skillbar-bar" style="background: #e67e22;"></div>
	<div class="skill-bar-percent">60%</div>
</div>
<div class="skillbar clearfix " data-percent="80%">
	<div class="skillbar-title" style="background: #2980b9;"><span>VB Script</span></div>
	<div class="skillbar-bar" style="background: #3498db;"></div>
	<div class="skill-bar-percent">80%</div>
</div>
<div class="skillbar clearfix " data-percent="80%">
	<div class="skillbar-title" style="background:  #2c3e50;"><span>Django</span></div>
	<div class="skillbar-bar" style="background: #2c3e50;"></div>
	<div class="skill-bar-percent">80%</div>
</div>
<div class="skillbar clearfix " data-percent="40%">
	<div class="skillbar-title" style="background: #27ae60;"><span>Tomcat</span></div>
	<div class="skillbar-bar" style="background: #2ecc71;"></div>
	<div class="skill-bar-percent">40%</div>
</div>
<div class="skillbar clearfix " data-percent="40%">
	<div class="skillbar-title" style="background: #2980b9;"><span>SQL</span></div>
	<div class="skillbar-bar" style="background: #4288d0;"></div>
	<div class="skill-bar-percent">40%</div>
</div>
<div class="skillbar clearfix " data-percent="30%">
	<div class="skillbar-title" style="background: #124e8c;"><span>AE</span></div>
	<div class="skillbar-bar" style="background: #5a68a5;"></div>
	<div class="skill-bar-percent">30%</div>
</div>
<div class="skillbar clearfix " data-percent="70%">
	<div class="skillbar-title" style="background: #d35400;"><span>Illustrator</span></div>
	<div class="skillbar-bar" style="background: #e67e22;"></div>
	<div class="skill-bar-percent">70%</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'portfolio/js/about.js' %}"></script>
{% endblock %}
