{% extends 'portfolio/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'portfolio/css/contact.css'%}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="text-container">
    <p>Click the button below to send me a message :D </p>
  </div>

    <div class="mail"></div>
    <h1>Mail form</h1>
    <form action="{% url 'portfolio:contact'%}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="submit">Send</button>
    </form>

  <div class="ok_message">
  <span>I will reply to you soon!</span>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'portfolio/js/contact.js'%}"></script>
{% endblock %}
