{% extends 'portfolio/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}">
{% endblock %}

{% block body %}
<div id="header">
  <div class="img-container">
    <img src="{% static 'portfolio/resource/background_image.png' %}">
  </div>
  <div class="container">
    <p hidden>Hello, I'm Jerry.</p>
    <p hidden>Welcome to my portfolio website!</p>
    <p hidden>I'm a computer science student at the University of Waterloo.</p>
    <p hidden>By the way, I created these pictures with Adobe Illustrator.</p>
  </div>
</div>

<div class="content">
    <video autoplay="true" loop>
      <source src="{% static  'portfolio/video/animation.mp4'%}">
    </video>
    <!--
    <div class="container-fluid">
        <p class="inline">
            \\ I am a Programmer;
        </p>
        <p class="inline">
            ## I love to learn new languages and technologies;
        </p>
        <p class="inline">
            'It is a pleasure to design and to solve problems;
        </p>
        <p class="inline">
            \\ I develop software, algorithms and websites;
        </p>
        <p class="inline">
            ## I mainly program in Java, C++ and python;
        </p>
        <p class="inline">
            'I'm still learning to become a better programmer;
        </p>
        <p class="inline">
            \\ I enjoy reading books and watching movies;
        </p>
        <p class="inline">
            ## I aim to read 1 book every 2 days;
        </p>
        <p class="inline">
            'Knowledge from books help me to better understand this world;
        </p>
    </div>
    -->
</div>

  <div class="content2">
    <div class="img-container">
      <img src="{% static 'portfolio/resource/math_science.png' %}">
    </div>
  </div>

  <div class="content3">
    <div class="img-container">
      <img src="{% static 'portfolio/resource/coffee_time.png' %}">
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'portfolio/js/slider.js' %}"></script>
<script src="{% static 'portfolio/js/index.js' %}"></script>
{% endblock %}
