{% extends 'portfolio/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}">
{% endblock %}

{% block body %}
<div id="header">
  <div class="img-container">
    <img src="{% static 'portfolio/resource/background_image.png' %}">
  </div>
  <div class="container">
    <p hidden>Hello, I'm Jerry.</p>
    <p hidden>Welcome to my portfolio website!</p>
    <p hidden>I'm a computer science student at the University of Waterloo.</p>
    <p hidden>By the way, I created these pictures with Adobe Illustrator.</p>
  </div>
</div>

<div class="content">
  <div class="img-container">
    <img src="{% static 'portfolio/resource/computer.png' %}">
  </div>
  <div class="container-fluid">

    <p class="hello1">
        \\ I am a Programmer;
    </p>
    <p class="hello2">
        ## I love to learn new languages and technologies;
    </p>
    <p class="hello4">
        'Hit the button below to see my future plans;
    </p>
  </div>
</div>

  <div class="content2">
    <div class="img-container">
      <img src="{% static 'portfolio/resource/math_science.png' %}">
    </div>
  </div>

  <div class="content3">
    <div class="img-container">
      <img src="{% static 'portfolio/resource/coffee_time.png' %}">
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'portfolio/js/index.js' %}"></script>
{% endblock %}
