{% extends 'portfolio/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'portfolio/css/project.css' %}">
{% endblock %}

{% block body %}
  <div id=particles-js></div>




  <ul class="timeline">
    <li>
        <div class="timeline-badge">
          <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Schedular Application</h4>
            </div>
            <div class="timeline-body">
                <p>Written in Pure Java. Have daily and monthly schedular,
                  able to add tasks to the schedular. Used Apache Http Client to
                build connection to Django backend and used GSON to convert POJO
                to JSON formated String for Django backend to receive.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Oct.2017</p>
            </div>
        </div>
    </li>
      <li>
          <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
          </div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>Portfolio Website</h4>
              </div>
              <div class="timeline-body">
                  <p>Using Django as backend, rented a server on DigitalOcean
                    and purchased a domain name from GoDaddy. The backend also
                    perform data storage and data transfer for my local java applications.
                  </p>
              </div>
              <div class="timeline-footer">
                  <p class="text-right">Sept.2017</p>
              </div>
          </div>
      </li>

      <li class="timeline-inverted">
          <div class="timeline-badge">
              <a><i class="fa fa-circle invert" id=""></i></a>
          </div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>Monte Carlos Simulation</h4>
              </div>
              <div class="timeline-body">
                  <p>Used Union and Find path searching algorithm to write a simple simulation that will
                  randomly pick a block from a group of blocks and connect them to form lines.</p>
              </div>
              <div class="timeline-footer">
                  <p class="text-right">July.2017</p>
              </div>
          </div>
      </li>

      <li>
          <div class="timeline-in">
              <a><i class="fa fa-circle" id=""></i></a>
          </div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>Maze Generator</h4>
              </div>
              <div class="timeline-body">
                  <p>Will generate a maze from a blank area of block.</p>
              </div>
              <div class="timeline-footer">
                  <p class="text-right">June.2017</p>
              </div>
          </div>
      </li>

      <li class="timeline-inverted">
          <div class="timeline-badge">
              <a><i class="fa fa-circle invert" id=""></i></a>
          </div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>Tetris</h4>
              </div>
              <div class="timeline-body">
                  <p>A classical Tetris game that was written in JavaScipt</p>
              </div>
              <div class="timeline-footer">
                  <p class="text-right">Feb.2017</p>
              </div>
          </div>
      </li>

      <li class="timeline-inverted">
          <div class="timeline-badge">
              <a><i class="fa fa-circle" id=""></i></a>
          </div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>Physics Simulator</h4>
              </div>
              <div class="timeline-body">
                  <p></p>
              </div>
              <div class="timeline-footer">
                  <p class="text-right">Sept.2016</p>
              </div>
          </div>
      </li>

      <li  class="timeline-inverted">
          <div class="timeline-badge">
              <a><i class="fa fa-circle invert" id=""></i></a>
          </div>
          <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>Timeline Event</h4>
              </div>
              <div class="timeline-body">
                  <p>Crede respiciens loco dedit beneficio ad suis alteri si puella eius in. Acceptis codicello lenonem in deinde plectrum anni ipsa quod eam est Apollonius.</p>
              </div>
              <div class="timeline-footer primary">
                  <p class="text-right">Mar-02-2014</p>
              </div>
          </div>
      </li>
      <li class="clearfix no-float"></li>
  </ul>




{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script>
particlesJS.load('particles-js', '{% static "portfolio/json/particles.json" %}', function(){});
</script>
{% endblock %}
