<!DOCTYPE html>
{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'simplenote/css/base.css'%}">
    {% block styles %}
    {% endblock %}

</head>

<body  ng-app="todo" ng-controller="todoController">
  <div class="container-fluid">

    <nav class="navbar navbar-default navigation-clean" style="padding:0px;">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="#">simplenote</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>

        </div>
    </nav>

    <div class="sidebar">
    </div>

    <div class="task_list">

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#task">Task List</a></li>
          <li><a data-toggle="tab" href="#schedule">Long Term Task</a></li>
        </ul>
{% block body %}
{% endblock %}

  </div>
{% block script %}
{% endblock %}

</body>

</html>
