{% extends 'simplenote/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'simplenote/css/home.css' %}">
<link rel="stylesheet" href="{% static 'simplenote/css/question.css' %}">
{% endblock %}

{% block body %}
<!--<h2> Welcome, <span style="color:red">{{user.username}}</span></h2>
-->


    <div class="tab-content">
      <div id="task" class="tab-pane fade in active">
        <div class="task-content">
          <div class="row">
              <div class="col-md-12 toolbar">
                  <div class="toolbar" style="height:50px;">
                      <button class="btn btn-default rounded-0" type="button" ng-click="addTask()" style="height:40px;">Add Task</button>
                      <button class="btn btn-default" type="button" style="height:40px;" ng-click="showRootLevelTask()">Show Root Task</button>
                      <button class="btn btn-default" type="button" style="height:41px;" ng-click="showAllTasks()">Show All Tasks</button>
                      <input type="text" placeholder="Enter a Tag" ng-model="tagSearch">
                      <button class="btn btn-default" type="button" style="height:41px;" ng-click="searchTag()">Search</button>
                  </div>
                  <div class="toolbar" style="height:50px;">
                    <button class="btn btn-default" type="button" style="height:41px;" ng-click="deleteSelectedTask()">Delete Selected Tasks</button>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                  <div class="todo" style="height:75vh;background-color:rgb(235,235,235);">

                      <!-- Angular JS used in rendering the todolist -->
                      <div class="todo-list-item" ng-repeat="todo in multiTodo[currentMulti]" ng-class="{'highlight-todo-item': multiTodo[currentMulti][$index].project_name==selectedTodo}" >
                          <div class="row">

                              <div class="col-md-1">
                                  <input type="checkbox" ng-click="addCheckBox(todo)">
                              </div>
                              <div class="col-md-11"  ng-click="updateDetail(todo.project_name)">
                                  <p ng-bind="todo.project_name"></p>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

              <!-- This is the detail of the task.
                   Once a task has been clicked, the detail will shown up-->
              <div class="col-md-6" style="overflow-y:scroll;">
                  <div>
                    <button type="button" class="btn btn-primary" ng-disabled="editMode" ng-click="edit()">
                      edit
                    </button>
                    <button type="button" class="btn btn-primary" ng-diabled="editMode" ng-click="addSubTask()">
                      add subtask
                    </button>
                    <button type="button" class="btn btn-primary" ng-disabled="!editMode" ng-click="save()">
                      save
                    </button>
                    <input type="text" style="width:20%;" ng-disabled="!editMode"  placeholder="Add a tag" ng-model="newTag" ng-trim="true">
                    <button type="button" class="btn btn-primary" ng-disabled="!editMode" ng-click="addATag()">
                      Add
                    </button>
                    <span ng-hide="true">
                      DONE!
                    </span>
                  </div>
                  <div class="detail" ng-hide="todoList == null">
                      <p style="height:38px;font-size:20px;"><span>Task Name: <input type="text" name="input" style="width:75%;" ng-disabled="!editMode" ng-model="project_detail.project_name" ng-trim="true"></span></p>
                      <div class="row">
                        <div class="col-md-3">
                          <p>Level:<span ng-bind="project_detail.project_level"></span></p>
                        </div>
                        <div class="col-md-5">
                          <p>Emergence:
                          <select ng-model="project_detail.project_emergence" ng-options="x for x in emergencyList">
                          </select>
                        </p>
                        </div>
                        <div class="col-md-4">
                          <p>Status:
                            <select ng-model="project_detail.project_status" ng-options="x for x in statusList">
                            </select>
                          </p>
                        </div>
                      </div>
                      <p>Tag: <span ng-repeat="tag in project_detail.project_tag"> <button ng-bind="tag" class="btn btn-default" ng-click="gotoTag(tag)"></button> </span></p>
                      <p>Time Spent:<span ng-bind="project_detail.project_spent_time"></span></p>
                      <p style="height:17px;">Descriptions:</p>
                      <div>
                        <textarea style="resize:none;overflow-y:scroll;width:100%;box-sizing:border-box;height:500px" placeholder="Description" ng-disabled="!editMode" ng-model="project_detail.project_desc"></textarea>
                      </div>
                      <p>Creation Date:<input type="date" ng-model="project_detail.project_create_date" ng-diable="true"></p>
                      <span>Start Date: <input type="date" name="input" ng-disabled="!editMode" ng-model="project_detail.project_start_date" ng-trim="true"></span>
                      <span>Deadline: <input type="date" name="input" ng-disabled="!editMode" ng-model="project_detail.project_dead_line" ng-trim="true"></span>
                      <div>
                        <br>
                          <div class="btn-group" role="group">
                              <button class="btn btn-default" type="button">Add Attachment</button>
                              <button class="btn btn-default" type="button">Email Me</button>
                          </div>
                          <input type="text" placeholder="Enter a Tag" ng-model="addTag">
                          <button class="btn btn-default" type="button" ng-click="addANewTag()">Add Tag</button>
                      </div>

                      <div ng-hide="isParent()">
                        <h2>Parent Task: </h2>
                        <button type="button" class="btn btn-primary" ng-click="gotoParent()"><span ng-bind="getParent().project_name"></span></button>
                      </div>
                      <h2 ng-hide="hasSubTask()">Sub Tasks: </h2>
                      <div class="subtask-level">

                          <div ng-repeat="sub in levels">

                            <button type="button" class="btn btn-primary" ng-click="collapseManager(sub)">
                              Level <span ng-bind="sub"></span> Tasks
                            </button>

                              <div ng-show="isCollapse(sub)">
                                  <div  ng-repeat="name in getProjectList(sub)" style="float:left">
                                    <!-- This will guide to the selected task -->
                                    <p class="btn btn-default" ng-bind="name.project_name" ng-click="updateDetail(name.project_name)"></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div id="schedule" class="tab-pane fade">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" type="button">Button 1</button>
                            <button class="btn btn-default" type="button">Button 2</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" type="button">Button 1</button>
                            <button class="btn btn-default" type="button">Button 2</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="background-color:red; margin-top:2%; height:90vh;">
                  <div class="project_list_container">


                  </div>
                </div>
                <div class="col-md-4" style="background-color:blue; margin-top:2%; height:90vh;">
                  <div class="project_list_container">


                  </div>
                </div>
                <div class="col-md-4" style="background-color:green; margin-top:2%; height:90vh;">
                  <div class="project_list_container">


                  </div>
                </div>
            </div>
          </div>
      </div>
      <div id="questions" class="tab-pane fade">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-toolbar">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" type="button">Button 1</button>
                            <button class="btn btn-default" type="button">Button 2</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button class="btn btn-default" type="button">Button 1</button>
                            <button class="btn btn-default" type="button">Button 2</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4" style="margin-top:2%;">

                    <div class="todo" style="height:85vh;">

                        <!-- Angular JS used in rendering the todolist -->
                        <div class="todo-list-item" ng-repeat="todo in multiTodo[currentMulti]" ng-class="{'highlight-todo-item': multiTodo[currentMulti][$index].project_name==selectedTodo}" >
                            <div class="row">
                                <div class="col-md-12"  ng-click="updateDetail(todo.project_name)">
                                    <p ng-bind="todo.project_name"></p>
                                </div>
                            </div>

                    </div>

                  </div>

                </div>
                <div class="col-md-8">

                    <div class="question_name">
                      <p>
                        <span>Question: <input type="text" name="input"></span>
                        <span>edit</span>
                        <span>save</span>
                      </p>
                      <textarea placeholder="Description"></textarea>
                      <textarea placeholder="Solution"></textarea>
                      <h2>Attachments:<span>Add Attachment</span></h2>




                  </div>
                </div>
            </div>
          </div>
      </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'simplenote/js/home.js'%}"></script>
<script src="{% static 'simplenote/js/angular.js'%}"></script>
<script src="{% static 'simplenote/jquery-1.11.3.js'%}"></script>
{% endblock %}
