.project_list_container{
  margin-top:10px;
  background-color: grey;
  height: 97%;
  width: 100%;
}

.todo{
  overflow-y: scroll;

}

.todo-list-item{
  border-style: solid;
  border-width: 1px;
  background-color: lightblue;
  cursor: pointer;
}

.highlight-todo-item{
  border-width: 4px;
  background-color: rgb(0,128,255);
}

.todo-list-item:hover{
  background-color: rgb(0,204,204);
}

.sidebar{
  width: 15%;
  height: 80%;
  position: absolute;
  top: 0 px;
  left: 0 px;
  border-style: solid;
  border-color: black

}
.task_list{
  padding-left: 17%;
  padding-top: 2%;
  width: 100%;
  height: 100vh;
}

.contents {
  height:100%;
  width:95%;
}

.detail{


}

.toolbar button{
  top:50px;
}

.containment {
  height:100%;
}

#schedule{
  height: 100vh;
}

#task{
  height: 100vh;
}
