{% extends 'portfolio/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'portfolio/css/project.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"
{% endblock %}

{% block body %}
  <div id=particles-js></div>


  <div class="sectiontitle">
      <h2>Here are my projects!</h2>
      <span class="headerLine"></span>
  </div>
  <div id="projectFacts" class="sectionClass">
      <div class="fullWidth eight columns">
          <div class="projectFactsWrap ">
              <div class="item wow fadeInUpBig animated animated" data-number="10" style="visibility: visible;">
                  <i class="fa fa-briefcase"></i>
                  <p id="number1" class="number">10</p>
                  <span></span>
                  <p>Projects done</p>
              </div>
              <div class="item wow fadeInUpBig animated animated" data-number="6" style="visibility: visible;">
                  <i class="fa fa-smile-o"></i>
                  <p id="number2" class="number">6</p>
                  <span></span>
                  <p>Completed</p>
              </div>
              <div class="item wow fadeInUpBig animated animated" data-number="7" style="visibility: visible;">
                  <i class="fa fa-code"></i>
                  <p id="number3" class="number">7</p>
                  <span></span>
                  <p>Languages Used</p>
              </div>
              <div class="item wow fadeInUpBig animated animated" data-number="2" style="visibility: visible;">
                  <i class="fa fa-rocket"></i>
                  <p id="number4" class="number">2</p>
                  <span></span>
                  <p>In planning</p>
              </div>
          </div>
      </div>
  </div>

<!---->
<div class="project-container">

{% for combine in combine_list %}
<article class="entry">
  <a>
    <img src="{{combine.front_image.url}}">
    <p>{{ combine.title}}</p>
  </a>
</article>

<!--This part is to attach a pop up model for the project-->

<div class="overlay">
	<div class="popup">
		<a href="#close" title="Close" class="close">X</a>
		<h2>{{ combine.title}}</h2>
		<div class="language-container">
			 <i class="devicon-csharp-line-wordmark colored"></i>
			 <i class="devicon-csharp-line-wordmark colored"></i>
			 <i class="devicon-csharp-line-wordmark colored"></i>
		</div>
		<hr>
    <div class="container">
		    <p>{{combine.detail}}</p>
    </div>
		<div class="w3-content w3-display-container">
      {% for image in combine.images.all %}
        <img src="{{ image.image.url }}" style="width:100%;height:auto">
      {% endfor %}
			<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1,this)">&#10094;</button>
			<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1,this)">&#10095;</button>
		</div>

		<h3>Features</h3>
		<ul>
      {% for feature in combine.features.all%}
			   <li>{{feature.feature_desc}}</li>
      {% endfor %}
		</ul>
</div>

</div>


{% endfor %}
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'portfolio/js/project.js'%}"</script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
{% endblock %}
