#success_message{ display: none;}

.container{
  height:70%;
  margin-top: 10%;
}

.description{
    padding: 10px 10px 10px 10px;
    font-family: "bungee",cursive;
    margin-bottom: 8%;
}

div h2{
  margin: auto 0 auto 0;
}
